// Import Angular Material theming functions
@use '@angular/material' as mat;

// Define your theme colors
$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// Define the theme object
$myFix-Angular-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

// Include Angular Material core styles and theme
@include mat.core();
@include mat.all-component-themes($myFix-Angular-theme);

// Global styles
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
